.social-icons svg {
  width: 1.5em;
  height: 1.5em;
  fill: currentColor;
}

.sl-link-button {
  display: inline-flex;
  align-items: center;
  padding: 1em;
  border: 1px solid var(--sl-color-accent);
  border-radius: 1rem;
  background-color: var(--sl-color-gray-7);
  color: var(--sl-color-white);
  text-decoration: none;
  transition: background 0.3s ease;
}

.sl-link-button:hover {
  background-color: var(--sl-color-accent-low);
}

button[data-open-modal]{
  cursor: pointer;
  border: 1px solid var(--sl-color-accent);
}

dialog:where([open]) {
  border: 1px solid var(--sl-color-accent);
  border-radius: 0.5rem;
  background-color: var(--sl-color-gray-7);
  color: var(--sl-color-white);
}

form:focus-within {
  outline: none;
}

@media (min-width: 121rem) {
  .sl-container, .starlight-container, .main-content, .content-container {
    width: 100%;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
  }

  .sl-sidebar, .starlight-sidebar, .sidebar {
    max-width: 320px;
    min-width: 220px;
  }

  .sl-toc, .starlight-toc, .right-sidebar {
    max-width: 320px;
    min-width: 150px;
  }
}